.login {
  background-color: #ffeab0;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login__container {
  width: 612px;
  height: 372px;
  margin-top: 81px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffeab0;
}

.login__container > h3 {
  margin-top: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.login__container > form > center > input {
  height: 33px;
  margin-bottom: 10px;
  background-color: ffeab0;
  width: 301px;
  border: 0.5px solid gray;
}

.login__login {
  background-color: #755600;
  border: none;
  color: #fff;
  border-radius: 2px;
  width: 301px;
  margin-top: 10px;
  cursor: pointer;
  height: 42px;
}

.login__createNewAccount {
  background-color: #755600;
  border: none;
  color: white;
  border-radius: 2px;
  width: 185px;
  margin-top: 10px;
  height: 43px;
}
